.mapForm {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        .mapContainer {
            width: 50%;
        }
        iframe {
            width: 100%;
        }

        .formContainer {
            width: calc(50% - 70px);
            margin-left: 70px;
        }

        .contactForm {
            display: flex;
            flex-direction: column;

            input, textarea {
                padding: 0 0 10px 5px;
                border: none;
                margin-bottom: 40px;
                color: #333;
                font-family: $bodyFont;
                border-bottom: 1px solid #eee;
                &::placeholder {
                    color: $primary;
                    opacity: 1;
                    line-height: 1.2rem;
                    text-transform: uppercase;
                }

                
            }

            textarea {
                min-height: 130px;
                border: 1px solid #eee;
                border-top: none;
            }

            select {
                appearance: none;
                display: block;
                color: $primary;
                padding: 0 0 10px 0;
                border: none;
                border-bottom: 1px solid #eee;
                border-radius: 0;
                margin-bottom: 40px;
                width: 100%;
                text-transform: uppercase;
                font-size: 0.8rem;
                line-height: 1.2rem;

                background-color: $solidWhite;
                background-image: url(../assets/caret-down-solid.svg);
                background-repeat: no-repeat;

                background-position: 95% center;
                background-size: 20px;
            }
        }
    }
}