// @media(max-width:480px){
//     .navBar {
//         .wrapper{
//             flex-direction: column;
//             align-items: center;
//             .menuIcon{
//                 align-self: flex-start;
//             }
//             &>*{
//         margin: 0px;
//         padding:10px 0px;
//     }
//     }
// }
// }


@media (max-width: 480px) {


    html {
        font-size: 100%;
    }


    header {
        flex-direction: column;
    }

    .headerImgContainer{
        min-width: 100%;
    }

    .headerContent {
        min-width: 100%;
    }

    header .headerContent .contentContainer {
        width: 90%;
        padding: 50px 0;

        h3 {
            font-size: 2rem;
        }
    }



    .categoryGallery .items {
        width: 100%;
        padding: 20px;
        margin: 10px 10px 10px;
    }

    .categoryGallery {
        margin: 100px 0;
    }

    footer .footerFlexContainer {
        flex-direction: column;
        align-items: center;
    }

    footer .footerNav nav {
        flex-direction: column;
        align-items: center;
        text-align: center;

        a {
            line-height: 1.7rem;
        }
    }

    footer .footerNav nav ul {
        padding: 20px 0;
        width: auto;

        h5 {
            margin: 0 0 10px 0;
        }

        // li {

        // }
    }

    footer .footerNav nav a {
        font-size: 1rem;
    }
}