.products-main  {
    section {
        padding: 75px 0;
    }

    h2 {
        text-align: center;
    }

    .products-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            flex-basis: calc((100% / 3) - 30px);
            margin: 5px 15px;
            text-align: center;
        }

        img {
            border-radius: 20px;
            margin-bottom: 10px;
        }

        
    }

    .popularProduct {
        font-weight: bold;
    }
    .price {
        font-size: smaller;
        
    }

    .discountedPrice {
        text-decoration: line-through;
        color: rgba($color: $primary, $alpha: 0.5);
        span {
            display: inline-block;
            text-decoration: none;
            color: rgba($color: $primary, $alpha: 1);
        }
    }

}

.guarantees {
    background-color: $quaternary;
    position: relative;

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: .8rem;
        line-height: 2rem;
    }

    &::before {
        content: '';
        background-image: url('../assets/wave-3.svg');
        background-position: top center;
        background-size: 1500px 60px;
        background-repeat: repeat-x;
        background-color: $quaternary;
        position: absolute;
        height: 3rem;
        left: 0;
        right: 0;
        top: -60px;
    }

    ul {
        display: flex;
        
        li {
            margin: 0 20px;
            width: calc(25% - 40px);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            img {
                width: 50px;
            }
        }
        
    }

    // li img {
    //     width: 100px;
    // }
}



// section::before {
//     background-image: url('../../../assets/wave.svg');
//     path: red;
// }